--etcd-servers={{ if .EtcdURL }}{{ .EtcdURL.String }}{{ end }}
--cert-dir={{ .CertDir }}
--insecure-port={{ if .URL }}{{ .URL.Port }}{{ end }}
--insecure-bind-address={{ if .URL }}{{ .URL.Hostname }}{{ end }}
--secure-port={{ if .SecurePort }}{{ .SecurePort }}{{ end }}
--admission-control=AlwaysAdmit
--service-cluster-ip-range=10.0.0.0/24
--advertise-address={{ if .URL }}{{ .URL.Hostname }}{{ end }}
