name: "End-to-end tests"

on:
  push:
    branches:
      - main
      - releases/*
  pull_request:
    branches:
      - main
      - releases/*

jobs:
  e2e-tests:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.21
    - uses: actions/checkout@v2.4.0
    - name: "Run end-to-end tests"
      run: make e2e-test
