name: "Lint code"

on:
  push:
    branches:
      - main
      - releases/*
  pull_request:
    branches:
      - main
      - releases/*

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.21
    - uses: actions/checkout@v2.4.0
    - name: "Lint the code"
      run: make lint
    - name: "Verify generate"
      run: ./hack/verify-generate.sh
    - name: "Verify go clean"
      run: ./hack/verify-go-clean.sh
