name: "Unit tests"

on:
  push:
    branches:
      - main
      - releases/*
  pull_request:
    branches:
      - main
      - releases/*

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.21
    - uses: actions/checkout@v2.4.0
    - name: "Run unit tests"
      run: make test TEST_FLAGS="-v -race -count 1000 -timeout 350m"
